*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 3.5rem;
}

.todo-app{
    width: 100%;
    max-width: 45rem;
    background: #fff;
    margin: 5rem auto 4rem;
    padding: 4rem 4rem 6rem;
    border-radius: 1rem;
}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.todo-app h2 img{
    width: 2rem;
    margin-left: 0.5rem;
}  

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 3rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 1rem;
    font-weight: 0.9rem;
    font-size: 1rem;
}

button{
    border: none;
    outline: none;
    padding: 1.5rem 4rem;
    background: #ff5945;
    color: #fff;
    cursor: pointer;
    border-radius: 4rem;
    font-size: 1.3rem;
}

ul li{
    list-style: none;
    font-size: 1rem;
    padding: 0.8rem 0.5rem 0.8rem 3.2rem;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background-image: url('unchecked.png');
    background-size: cover;
    background-position: center;
    top: 0.7rem;
    left: 0.5rem;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url('checked.png');

}

ul li span{
    position: absolute;
    right: 0;
    top: 1.2rem;
    width: 3.2rem;
    height: 3.2rem;
    font-size: 1.5rem;
    color: #555;
    line-height: 3.3rem;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}